*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}



html, body {
  overflow-x: hidden;     /* No horizontal scroll at all */
  overscroll-behavior-x: none; /* Prevent horizontal “pull to refresh” or bounce */
}




#map{
    margin-top: 3%;
    /* background-color: red; */
    height: 600px;
    /* display: none; */
}



.search{
    width: 100vw;
    display: flex;
    align-items: center;
    display: grid;
    position: absolute;
    z-index: 400;
    justify-content: center;
    margin-top: -1200px;
}
.search-location-input{
    position: absolute;
    
    min-width: 400px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
}


.search-button{
    margin-left: 430px;
    position: absolute;
}

#riveCanvas{
    background-color: #00CA83;
    display: block;
    width: 100vw;
    height: 100vh;
}








.error-screen{
    /* display: none; */
    /* display: inline-block; */
    gap: 200px;
    width: 100vw;
    height: 100vh;
    background-color: #FF5900
    

}


.error-screen h1, p{
    color: white;

}

.error-screen p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.error-screen h1{
    font-weight: 700;
    
}




.error-content{
    position: absolute;
    bottom: 30px;
    margin-left: 50px;
}


.error-screen .reload-button{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}




.broken-map{

    opacity: 70%;
    width: 400px;
}